* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1 { 
  font-family: 'Passion One', sans-serif;
  font-size: 5em;
  font-variant: small-caps;
  color: rgb(77, 43, 90);
  margin-left: 2%;
}

h2 {
  font-family: 'Passion One', sans-serif;
  font-size: 2em;
  color: rgb(77, 43, 90);
  text-align:center;
}

body {
  font-family: 'Didact Gothic', sans-serif;
}

div.list {
  margin: 0 auto;
  width: 600px;
  border: 1px solid red;
  overflow: auto;
}

div.list img {
  width: 32.666666667%;
  border: 1px solid green;
  display: inline-block;
  float: left;
  text-align: center;
  margin-left: 1%;
  margin-right: 0;
}

div.list img:first-of-type{
  margin-left: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  text-align: center;
  background-color: rgb(94, 81, 99);
  color: #fff;
  margin-top:  50px;
}